@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --bk: #252525;
    --wn: #250d14;
    --wnc: #880034;
    --gr: #e92828;
    --wt: #fff;
}

body{
    background: white;
    height: 100vh;
    font-family: 'Montserrat',sans-serif;
    color: var(--wt);
}

.main-box{
    background: linear-gradient(to right, var(--gr), var(--wnc));
    width: 60%;
    height: 50%;
    margin: 8% auto;
    padding: 1rem;
    border: 1px solid #4c1929;
    border-radius: .5rem;
    box-shadow: -4px 9px 25px -6px var(--wn);
    text-align: center;
}

.main-box h2{
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 800;
}

.flex-container{
    display: flex;
    flex-direction: row;
    margin: 2.5% auto;
    padding: .2rem;
}

.side-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

input[type="text"]{
    font-family: inherit;
    font-size: inherit;
    outline: none;
    width: 100%;
    margin: 0 0 25px;
    display: inline-block;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 8px 20px;
    --white: linear-gradient(white, white);
    --gradient: linear-gradient(to right, var(--wnc), var(--gr));
    border: solid 0.25rem transparent;
    background: var(--white) padding-box, var(--gradient) border-box;
}

input[type=text]:focus {
    box-shadow: 0 0 8px 4px var(--wnc);
}

a.search-letters{
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    background: var(--white) padding-box, var(--gradient) border-box;
    border: 0.25em solid transparent;
    color: var(--wt);
    font-weight: 600;
    transition: width 1s;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 2px;
}

a.search-letters:hover{
    background-color: var(--gr);
    color: #fff;
    border-radius:  8px;
    box-shadow: 0 0 5px var(--gr), 0 0 25px var(--gr), 0 0 50px var(--gr), 0 0 100px var(--gr);
    box-sizing: border-box;
    padding: 8px 20px;
    --white: linear-gradient(white, white);
    --gradient: linear-gradient(to right, var(--gr), var(--wnc));
    border: solid 0.25rem transparent;
    background: var(--gradient) border-box;
}

.side-right{
    width: 50%;
}

.side-right h3 {
    color: var(--wt);
}

.error-mensaje{
    color: var(--wt);
    padding: 2.5%;
}

/*Dispositivos medios*/

@media (max-width: 768px) {
    .main-box {
      width: 90%;
      height: auto;
      margin: 20% auto;
    }
    
    .flex-container {
      flex-direction: column;
      margin: 10% auto;
    }
    
    .side-left {
      width: 100%;
    }
    
    .side-right {
      width: 100%;
    }
  }
/*Pantallas mas peque;as*/  
  @media (max-width: 576px) {
    .main-box {
      margin: 40% auto;
    }
    
    input[type="text"], .search-letters {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 14px;
    }
  }
  